h1, h2 {
   color: blue;
}

.red {
   color: red;
}

.red a {
   color: black;
}

h1.a {
   color: black;
}

#main-menu h1 {
 
   color: aqua;
}

#main-menu a.first {
  
   color: aqua;
}

#main-menu .first a {
 
   color: aqua;
}

#main-menu .first+li a {
  
   color: aqua;
}

/* reset---------------------------------------- */

body{
   margin: 0px;
}

h1{
   margin: 0px;   
}

/* styling-------------------------------------- */

.content-container{
   height: 100%;
   width:960px;
   
   margin-left: auto;
   margin-right: auto;
}   

.clearfix::after{
   content: ".";
   height: 0px;
   display: block;
   clear:left;
   overflow: hidden;
   
   
   /* clear: left; */
}

#header{ 
   height:70px;
   
}

/* #test{
	background: yellow url("../images/logo.png") no-repeat left top;
	height: 200px;
	width: 200px;
	background-size: contain;
	overflow: scroll;
	background-attachment: local;
	left:300px;
	top:200px;
	position: relative; <!-- absolute 꼭지점기준 relative 원래있던자리기준(시각상으로만 이동) fixed는 출력화면기준-->
} */

 
#visual{
   height:171px;
   background: #313131 url("../images/bg-visual.png") no-repeat center;
   border-top: 3px solid #8CBA34;
   
}  

#body{ 
   min-height:300px;
   border-top:5px solid #8cba34;
   margin-top:1px;
   background: url(../images/bg-body.png) repeat-y center;   
}
 
   #aside{
      min-height: inherit;
      width: 205px;
      
      float:left;
   } 
     
   #main{
      min-height: inherit;
      width: 755px;
     
      float:left;
   }
   


#footer{
   height: 100px;
   background: #313131;
   
}