h1, h2 {
  color: blue;
}

li{
	display: block;

}

ul {
	margin: 0px;
	padding: 0px;
}

.red {
   color: red;
}

.red a {
   color: black;
}

h1.a {
   color: black;
}


/* reset---------------------------------------- */

body{
   margin: 0px;
}

h1{
   margin: 0px;   
}

/* styling-------------------------------------- */

.content-container{
   height: 100%;
   width:960px;
   
   margin-left: auto;
   margin-right: auto;
}   

.clearfix::after{
   content: ".";
   height: 0px;
   display: block;
   clear:left;
   overflow: hidden;
   
   
   /* clear: left; */
}

#header{ 
   height:70px;
   
}
	#main-menu
	{
		/* border: 1px solid red; */
		display: inline-block;
	}
		
		
		#main-menu > h1 {
			display: none;
		}
		
		#main-menu > ul {
			
			display: auto;
			
		}
		
			

			#main-menu > ul > li{
			
				float: left;
				padding-left: 24px;
				background: url("../images/bg-main-menu-vsp.png") no-repeat 12px center;
			}
			
			#main-menu > ul > li:first-child{
			
			padding: 0px;
			background: none;
			
			}
			
			
			#main-menu > ul > li > a{
				text-decoration: none;
				color: #000000;
				font-family: 맑은 돋움, 돋움, Arial, sans-serif;
				font-size: 15px;
				font-weight: bold;	
			}
			#main-menu > ul > li > a:hover{
				color: #ff6a00;
			}
			
/* #test{
	background: yellow url("../images/logo.png") no-repeat left top;
	height: 200px;
	width: 200px;
	background-size: contain;
	overflow: scroll;
	background-attachment: local;
	left:300px;
	top:200px;
	position: relative; <!-- absolute 꼭지점기준 relative 원래있던자리기준(시각상으로만 이동) fixed는 출력화면기준-->
} */

 
#visual{
   height:171px;
   /* background: #313131 url("../images/bg-visual.png") no-repeat center; */
   border-top: 3px solid #8CBA34;
   
}  

#body{ 
   min-height:300px;
   border-top:5px solid #8cba34;
   margin-top:1px;
   background: url("../images/bg-body.png") repeat-y center;  
}
 
#aside{
   min-height: inherit;
   width: 205px;
   background: url("../images/bg-aside-title.png") no-repeat left top;
   float:left;
} 
  
#main{
   min-height: inherit;
   width: 755px;
   padding-left:35px;
   padding-top:45px;
   float:left;
   box-sizing: border-box;
}


   


#footer{
   height: 100px;
   background: #313131;
   
}