@CHARSET "UTF-8";

ul{
		list-style-type: none;
}

a{
	color: #2099bb;
    text-decoration: none;
}

.page{
	margin-left: auto;
    margin-right: auto;
    width: 1200px;

}

#page-body{
   display: inline;
   float: left;
   margin-left: 10px;
   margin-right: 10px; 
    width: 1060px;
    overflow: auto;
}

.content{
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	width: 1080px;
	
}


.header-text{
	width: 600px;
	float: left;
	margin: 0px;
	
}

.small-text{
	line-height: 20px;
	margin-top: 10px;
    display: block;
	
	
}

.partners-unit{
	position:relative;
	min-height:120px;
	overflow:hidden;
	margin:0 0 5px;
	
}
.partners-basic-info{
	padding:30px;
	margin-bottom:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
	
}
.card-img1{
	width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid #dedede;
    float: left;
    
}

.card-body-h{
	padding-top : auto;
	padding-left : 50px;
	overflow: hidden;
	position: relative;
    margin-bottom: 10px;
	
	
}

.card-body-head{
	padding-left: 15px;
	width: 600px;
	position: relative;
	
	
}
.card-title{
	font-family: inherit;
    font-weight: 700;
    line-height: 1.1;
    color: #575757;
    text-rendering: optimizelegibility;
        
}
.card-text{
	line-height: 20px;
	margin-top: 10px;
    display: block;
    font-size: 100%;
    font-weight: normal;
    color: #999;
    box-sizing: border-box;
}

body{
	margin: 0;
    font-family: "Nanum Gothic","Apple SD Gothic Neo","맑은 고딕","Malgun Gothic","AppleGothic","돋움",Dotum,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #f3f4f7;
    height: 100%;
}

.content-header{
	padding: 30px;
	margin: 30px;
    margin-bottom: 5px;
    background-color: #fff;
    border-radius: 3px;
    border-bottom-width: 2px;
    border: 1px solid #dedede;
}

.content-inner{
	padding: 30px;
	margin: 30px;
    margin-bottom: 5px;
    background-color: #fff;
    border-radius: 3px;
    border-bottom-width: 2px;
    border: 1px solid #dedede;
	
}
#main-menu > ul {
	
	display: auto;
	display: flex;
	padding: 0px;
	background: none;

	
}

#main-menu > ul > li{
	padding-left: 24px;
	background: url("../images/bg-main-menu-vsp.png") no-repeat 12px center;

}

#main-menu > ul > li:first-child{
			
			padding: 0px;
			background: none;

}
	
#main-menu > ul > li > a{
	text-decoration: none;
	color: #979797;
	font-family: 맑은 고딕, 고딕, Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;	
	display: block;
}

.card-body{
	padding: 30px;
    margin-bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 790px;
    margin-left: -1px;
    margin-bottom: 10px;
}

.partners-add-info{
	padding: 30px;
    padding-left: 0;
    display: inline-block;
    margin-left: 10px;
    margin-right: 20px;
    width: 250px;
    position: absolute;
    right: 0px;
}

#card-text > a{
	text-decoration: none;
	color: #808080;
	font-family: 맑은 고딕, 고딕, Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;	
	display: block;
	
}

#card-id{
	text-decoration: none;
	color: #8080ff;
	font-family: 맑은 고딕, 고딕, Arial, sans-serif;
	font-size: 30px;
	font-weight: bold;	
	display: block;
	width: 100px;
	margin: 0;
    line-height: 1.5;
    float: left;
    color: #2099bb;
	
}
#card-body-search{
	top: 50px;
	position: absolute;
	right: 10px;
	
	
}

#card-body-search> h1{
	display: none;
	
}
#badge-suc{
	position: relative;
    top: 3px;
    left: 10px;
}

